<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <date-picker
          v-model="date"
          :config="options"
          @dp-hide="showDatePickResult"
        />
      </div>
    </div>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'

import datePicker from 'vue-bootstrap-datetimepicker'

import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'

import '@fortawesome/fontawesome-free/css/all.css'

import $ from 'jquery'

export default {
  name: 'HelloWorld',
  data () {
    return {
      date: new Date(),
      options: {
        format: 'YYYY-MM-DD HH:mm:ss',
        useCurrent: false,
        locale: 'zh-cn',
        tooltips: {
          selectTime: ''
        }
      }
    }
  },
  methods: {
    showDatePickResult: function () {
      console.log(this.date)
    }
  },
  components: {
    datePicker
  },
  created: function () {
    $.extend(true, $.fn.datetimepicker.defaults, {
      icons: {
        time: 'far fa-clock',
        date: 'far fa-calendar',
        up: 'fas fa-arrow-up',
        down: 'fas fa-arrow-down',
        previous: 'fas fa-chevron-left',
        next: 'fas fa-chevron-right',
        today: 'fas fa-calendar-check',
        clear: 'far fa-trash-alt',
        close: 'far fa-times-circle'
      }
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
